body{
  margin: 0;
  font-family: sans-serif;
}

.centered-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.city-btn{
  width: 150px;
  height: 75px;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
}

#my_header{
  box-sizing: border-box;
  padding-top: 0px;
  margin-top: 0px;
  height: 75px;
  background-color: rgb(140, 129, 218);
  border-bottom: 2px solid gray;
}

.back-link {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.back-link i {
  padding-top: 20px;
  margin-right: 5px;
}

.header-text{
  margin-top: 0px;
  padding-left: 10%;
  display: flex;
  justify-content: left;
  align-items: left;
}

table {
  border-collapse: collapse;
  text-align: center;
	vertical-align: middle;
  width: 35%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

thead th {
  width: 30%;
}

thead {
  background-color: #333;
  color: white;
}

caption {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  color: #333;
  margin-bottom: 16px;
}